**/node_modules
**/dist
**/.next
**/.next/cache
**/coverage
**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/.vscode
**/.idea
**/*.log
**/Dockerfile
**/.dockerignore
docker-compose*.yml
README.md
.DS_Store
Thumbs.db
